@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  
}

body{
 margin: 0;


}
.parent{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 61, 79);
}
.parent .nav{
    position: relative;
    width: 25rem;
    justify-content: center;
    align-items: center ;
    display: flex;
    background-color: rgb(255, 238, 238);
    border-radius: 10px;
   
}
.parent .nav ul{
    display: flex;
    list-style: none;
     gap: 1rem;
}
.parent .nav ul li{
   cursor: pointer;
   justify-content: center;
   align-items: center;


}
.parent .nav a{
    text-decoration: none;
    color: black;
     justify-content: center;
    align-items: center;
   
}
.nav-icon{
  display: inline-block;
  font-size:20px;
  transition: transform 0.4s ease;
  
  
}

li.active .nav-icon{
    transform: translateY(-30px);
}


.nav-text{
  opacity:0;
  transition:0.3s;
  color:  black;
  font-size: 0.8rem;

 
}
li.active .nav-text{
  opacity:1;
  justify-content: center;
  align-items: center;
}

.child{
 position: absolute;
 background-color: rgb(231, 145, 92);
 width: 55px;
 height: 55px;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 display: flex;
 border: 7px solid rgb(36, 61, 79);
 transition: 0.3s;

}

 .circle-icon{
  font-size:1.5rem;
}